@charset "utf-8";

body {min-width: 1240px;}
.container {width: 1240px; max-width: none !important;}
.container_full {width:100%; max-width: none !important;}
.navbar-collapse {display: block !important; visibility: visible !important;}
.navbar-header, .navbar-form, .navbar-nav, .navbar-nav > li { float: left ;}

.rcp_m_cate {position:relative;}
.rcp_cate {margin-top:2px; border:1px solid #e6e7e8; border-bottom:none; background-color:#fff; padding:15px 30px 28px;}
.rcp_cate.st2 {border:1px solid #e6e7e8; border-bottom:none; background:#fff; padding:16px 30px 17px; vertical-align:top; position:relative; margin-top:0;}
.rcp_cate.st3 {background:#fff; padding:16px 15px 8px 12px; vertical-align:top; margin-top:0; border-right:none; border-left:none; border-top:none;}
.rcp_cate .cate_list {font-size:15px; padding:8px 0; line-height:1; height: 41px;}
.rcp_cate .cate_list a {padding:3px 8px 4px; color:#666; vertical-align:middle; font-size:15px; line-height:1; }
.rcp_cate .cate_list a:hover {color:#44b6b5; text-decoration:none;}
.rcp_cate .cate_list a.active {color:#fff; background:#44b6b5; margin:0; border-radius:16px;}
.rcp_cate .cate_list_line {border-top:1px solid #ebebeb; height:15px; margin-top:14px;}

.rcp_cate_btn {border-bottom:1px solid #e6e7e8; text-align:center;}
.rcp_cate_btn a {color:#5da619; font-size:14px; padding:12px 50px; display:inline-block;}
.rcp_cate_btn a span {padding-left:5px;}
.rcp_cate_btn a span img {margin-top:-1px;}

.rcp_m_cate table td {vertical-align: top; border-right: 1px solid #e6e7e8;}
.rcp_m_cate table td span {color:#44b6b5; display:block; font-weight:500; margin:0 5px 0 0; text-align:center; padding-top:6px; font-size:15px; height: 41px; width: 100%; padding-top:12px;}

/*sub*/
#contents_area {border-top:1px solid #e6e7e8; width:895px; padding:0 0 20px 0;}
#contents_area_full {border:1px solid #e6e7e8; padding:0 0 0 0; background:#fff; position: relative;}
#id_search_category{border-bottom: 1px solid #e6e7e8;}

.gnb_top_wrap {background:#fff; width:100%; height:112px; text-align: center;}
.gnb_top {width:1240px; margin:0 auto; padding:16px 0 0 176px; display: inline-block; vertical-align: top;}

.gnb_top h1 {margin:0 30px 0 0; display:inline-block; vertical-align:top;}
.gnb_search {width:450px; display:inline-block; padding-top:12px;}
div.gnb_search .btn {background:#44b6b5; border:1px solid #44b6b5; height:38px;}
div.gnb_search .btn span {color:#fff; font-size:22px;}
div.gnb_search .form-control {border:1px solid #ccc; background:#fbfbfb; height:38px;}

.gnb_right {display:inline-block; padding:16px 0 0 50px; vertical-align:top; position:relative;}
.gnb_right li {list-style:none; padding:0 3px; display:inline-block;}
.gnb_right li a {height:30px;}
.gnb_right li a img {width:44px; border-radius:50%;}
.gnb_right li.st2 a img {width:auto; border-radius:0;}

.gnb_nav { background:#44b6b5 left top repeat-x; height:46px; width:100%; -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); margin-bottom:16px;}
.gnb_nav ul {width:1240px; margin:0 auto; padding:9px 30px 0; text-align:center}
.gnb_nav ul li {list-style:none; padding:0; width:1%; display:table-cell;}
.gnb_nav ul li a {display:block; font-size:18px; margin:0 8px; color:#fff;}
.gnb_nav ul li a.active {color:#000000;}
.gnb_nav ul li a:hover {color:#000000;}

.rcp_m_list2 {margin-top:30px; padding:0 22px;}
.rcp_m_list2.st2 {margin-top:30px; padding:0 0;}
#contents_area_full .rcp_m_list2 .thumbnail_over {left:auto;}
.rcp_m_list2 .m_list_tit {font-size:16px; color:#333; padding:5px 0 20px 8px;}
.rcp_m_list2 .m_list_tit b {color:#44b6b5; font-size:26px;}


/*공통부분*/
.common_sp_list_ul {margin: 0; vertical-align: top;}
.common_sp_list_ul.ea3 li {width: 381px;}
.common_sp_list_ul.ea4 li {width: 270px;}
.common_sp_list_ul.ea4_sm li {width:195px; margin : 0 6px 40px;}
.common_sp_list_ul.ea5 li {width: 222px;}
.common_sp_list_li {list-style:none; padding: 0; margin: 0 12px 40px 0; display: inline-block; vertical-align: top; position: relative;}
.common_sp_thumb { position: relative; border-radius: 4px; overflow: hidden;}
.common_sp_thumb img {width: 100%; }
.common_sp_caption {padding:10px 2px;}
.common_sp_caption_tit {margin:0 0 6px 0; color: #000; text-align: left; font-size: 15px;}
.common_sp_caption_tit.line1 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap:break-word; white-space:normal; line-height:1.5;}
.common_sp_caption_tit.line2 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; white-space:normal; line-height:1.5;}
.common_sp_caption_tit.line3 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; white-space:normal; line-height:1.5;}
.common_sp_caption_tit.rv {font-weight: normal; }
.common_sp_caption_name {padding: 6px 2px 0 0; color: #666; vertical-align:middle; font-size: 13px;}
.common_sp_caption_name_pic { margin: 0;}
.common_sp_caption_name_pic img {width:28px; height: 28px; border-radius: 50%; margin-right: 4px;}
.common_sp_caption_rv {vertical-align:super;  line-height:1; margin: 0 0 9px 0;}
.common_sp_caption_rv_star {vertical-align:1px;}
.common_sp_caption_rv_star img {width: 14px; margin-right: 1px; margin: 0;}
.common_sp_caption_rv_ea {color:#999; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:12px; vertical-align:middle; padding-left: 1px; line-height:normal; }
.common_sp_caption_rv_name {color:#999; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:14px; vertical-align:0; padding:0  1px 7px 0; }
.common_sp_caption_rv_name img {width: 22px; height: 22px; border-radius: 50%; margin:0 4px -2px 0; vertical-align: text-bottom;}
