<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/notice.css">
    <title>자료실 페이지</title>
</head>
<body>
    <div class="userInfo">
        <!-- 미 로그인 시 -->
        <!-- <span>회원가입/로그인</span> -->
        <!-- 로그인 시 -->
        <img src="../img/8666609_user_icon.PNG" alt="상태 이미지">
    </div>
    <header>
        <div class="logo">
            <img src="../img/IMG_2369.PNG" alt="로고 이미지">
        </div>
        <nav>
            <a href="#" class="tab1">요양 서비스 신청</a>
        <div class="dropdown">
            <a href="#" class="tab1" id="support-tab">요양보호 지원</a>
            <div class="dropdown-content">
                <a href="../page/submit.html">지원서 작성</a>
                <a href="#">자격인증 신청</a>
            </div>
        </div>
        <a href="#" class="tab1">자료실</a>
        </nav>
    </header>
    <div class="container">
        <h1 class="title-container">자료실</h1>
        
        
        <form th:action="@{/search}" method="get">
            <div id="search-container">
                <input type="text" name="query" placeholder="검색">
                <button type="button">
                    <img src="../img/211817_search_strong_icon.png" alt="검색">
                </button>
            </div>
        </form>

        <div class="gallery_bbs">								
            <ul class="list">
                <!--
                    타임리프는 요거로 쓰시면 됩니다. 
                    <li scope="row" th:each="video : ${videos}">
                    <dl>
                        <dt>
                            <p class="thumb">
                                <a href="#" title="영상보기" class="pop" th:attr="data-video-id=${video.videoId}">
                                    <span class="ic_youtube"></span>
                                    <img th:src="@{http://img.youtube.com/vi/{video.videoId}/mqdefault.jpg(video.videoId=${video.videoId})}" th:alt="${video.title}" />
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data" th:text="${video.date}"></p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" th:attr="data-video-id=${video.videoId}">
                                    <span th:text="${video.title}"></span>
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li> -->
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="DmbiyCSEC_8">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/DmbiyCSEC_8/mqdefault.jpg" alt="아마겟돈"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="DmbiyCSEC_8">
                                    에스파 아마겟돈
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="phuiiNCxRMg">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/phuiiNCxRMg/mqdefault.jpg" alt="슈퍼노바뮤비"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="phuiiNCxRMg">
                                    에스파 슈퍼노바 뮤비
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="t5Vj0jeYeEE">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/t5Vj0jeYeEE/mqdefault.jpg" alt="슈퍼노바라이브"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="t5Vj0jeYeEE">
                                    슈퍼노바 라이브
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="nFYwcndNuOY">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/nFYwcndNuOY/mqdefault.jpg" alt="아마겟돈 뮤비"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="nFYwcndNuOY">
                                    에스파 아마겟돈 뮤비
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="DmbiyCSEC_8">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/DmbiyCSEC_8/mqdefault.jpg" alt="아마겟돈"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="DmbiyCSEC_8">
                                    에스파 아마겟돈
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="phuiiNCxRMg">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/phuiiNCxRMg/mqdefault.jpg" alt="슈퍼노바뮤비"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="phuiiNCxRMg">
                                    에스파 슈퍼노바 뮤비
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="t5Vj0jeYeEE">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/t5Vj0jeYeEE/mqdefault.jpg" alt="슈퍼노바라이브"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="t5Vj0jeYeEE">
                                    슈퍼노바 라이브
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <li scope="row">
                    <dl>
                        <dt>
                            <p class="thumb"> 
                                <a href="#" title="영상보기" class="pop" data-video-id="nFYwcndNuOY">
                                    <span class="ic_youtube"></span>
                                    <img src="http://img.youtube.com/vi/nFYwcndNuOY/mqdefault.jpg" alt="아마겟돈 뮤비"/>
                                </a>
                            </p>
                        </dt>
                        <dd>
                            <p class="data">2023-10-18</p>
                            <h3>
                                <a href="#" title="영상보기" class="pop" data-video-id="nFYwcndNuOY">
                                    에스파 아마겟돈 뮤비
                                </a>
                            </h3>
                        </dd>
                    </dl>
                </li>
                <!-- 더 많은 비디오 항목들 추가 가능 -->
            </ul>
        </div>
        <div class="overlay" id="videoOverlay">
            <button class="overlay-close" id="closeButton">&times;</button>
            <div class="overlay-content">
                <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="overlayVideo"></iframe>
            </div>
        </div>
        
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <script type="text/javascript" src="../js/notice.js"></script>
</body>
</html>