@charset "utf-8";

body {min-width: 1240px;}
.container {width: 1240px; max-width: none !important;}
.container_full {width:100%; max-width: none !important;}
.navbar-collapse {display: block !important; visibility: visible !important;}
.navbar-header, .navbar-form, .navbar-nav, .navbar-nav > li { float: left ;}

.rcp_m_cate {position:relative;}
.rcp_cate {margin-top:2px; border:1px solid #e6e7e8; border-bottom:none; background-color:#fff; padding:15px 30px 28px;}
.rcp_cate.st2 {border:1px solid #e6e7e8; border-bottom:none; background:#fff; padding:16px 30px 17px; vertical-align:top; position:relative; margin-top:0;}
.rcp_cate.st3 {background:#fff; padding:16px 15px 8px 12px; vertical-align:top; margin-top:0; border-right:none; border-left:none; border-top:none;}
.rcp_cate .cate_list {font-size:15px; padding:8px 0; line-height:1; height: 41px;}
.rcp_cate .cate_list a {padding:3px 8px 4px; color:#666; vertical-align:middle; font-size:15px; line-height:1; }
.rcp_cate .cate_list a:hover {color:#44b6b5; text-decoration:none;}
.rcp_cate .cate_list a.active {color:#fff; background:#44b6b5; margin:0; border-radius:16px;}
.rcp_cate .cate_list_line {border-top:1px solid #ebebeb; height:15px; margin-top:14px;}

.rcp_cate_btn {border-bottom:1px solid #e6e7e8; text-align:center;}
.rcp_cate_btn a {color:#5da619; font-size:14px; padding:12px 50px; display:inline-block;}
.rcp_cate_btn a span {padding-left:5px;}
.rcp_cate_btn a span img {margin-top:-1px;}

.rcp_m_cate table td {vertical-align: top; border-right: 1px solid #e6e7e8;}
.rcp_m_cate table td span {color:#44b6b5; display:block; font-weight:500; margin:0 5px 0 0; text-align:center; padding-top:6px; font-size:15px; height: 41px; width: 100%; padding-top:12px;}

/*sub*/
#contents_area {border-top:1px solid #e6e7e8; width:895px; padding:0 0 20px 0;}
#contents_area_full {border:1px solid #e6e7e8; padding:0 0 0 0; background:#fff; position: relative;}
#id_search_category{border-bottom: 1px solid #e6e7e8;}

.gnb_top_wrap {background:#fff; width:100%; height:112px; text-align: center;}
.gnb_top {width:1240px; margin:0 auto; padding:16px 0 0 176px; display: inline-block; vertical-align: top;}

.gnb_top h1 {margin:0 30px 0 0; display:inline-block; vertical-align:top;}
.gnb_search {width:450px; display:inline-block; padding-top:12px;}
div.gnb_search .btn {background:#44b6b5; border:1px solid #44b6b5; height:38px;}
div.gnb_search .btn span {color:#fff; font-size:22px;}
div.gnb_search .form-control {border:1px solid #ccc; background:#fbfbfb; height:38px;}

.gnb_right {display:inline-block; padding:16px 0 0 50px; vertical-align:top; position:relative;}
.gnb_right li {list-style:none; padding:0 3px; display:inline-block;}
.gnb_right li a {height:30px;}
.gnb_right li a img {width:44px; border-radius:50%;}
.gnb_right li.st2 a img {width:auto; border-radius:0;}

.gnb_nav { background:#44b6b5 left top repeat-x; height:46px; width:100%; -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); margin-bottom:16px;}
.gnb_nav ul {width:1240px; margin:0 auto; padding:9px 30px 0; text-align:center}
.gnb_nav ul li {list-style:none; padding:0; width:1%; display:table-cell;}
.gnb_nav ul li a {display:block; font-size:18px; margin:0 8px; color:#fff;}
.gnb_nav ul li a.active {color:#000000;}
.gnb_nav ul li a:hover {color:#000000;}


.regi_left {width:550px; display:inline-block; border:1px solid #e6e7e8; border-right:1px solid #b2b2b2; background:#fff; vertical-align:top; margin:0; padding:0;}
.regi_center {border:1px solid #e6e7e8; background:#fff; margin:0; padding:0;}
.regi_title {background:#f8f8f8; border-bottom:1px solid #e6e7e8; padding:14px 18px; font-size:20px; font-weight:bold; position:relative;}
.regi_title span {font-size:12px; color:#C00; padding-left:10px;}
.regi_cont {height:1000px; overflow-y:scroll; overflow-x: hidden}
.regi_cont div:last-child {border:none;}

.cont_box {padding:26px 30px; border-bottom:10px solid #f1f1f2; margin:0 -1px;}
.cont_box input {background:#f5f5f5; border:1px solid #e1e1e1; font-size:16px; padding-left:15px; height:50px; vertical-align:middle; margin-top:-1px;}
.cont_box .file-upload-input {background:#f5f5f5; border:1px solid #e1e1e1; font-size:16px; padding-left:15px; height:180px; vertical-align:middle; margin-top:-1px;}
.cont_box select {background:#f5f5f5; border:1px solid #e1e1e1; font-size:16px; padding:8px 2px; margin:0 2px 0 0; border-radius:4px;}
::i-block-chrome, .cont_box select {padding:0px 12px;}
.cont_box li input {display:inline-block; margin:0 3px; vertical-align:middle;}

.cont_pic2 {width:250px; float:right; margin-right:60px;}
.cont_pic2 img {border:1px solid #e1e1e1;}

.cont_line {width:800px; padding:8px 0 0 0;}
.cont_line input {display:inline-block;}
.cont_line .cont_check {vertical-align:middlex; height:35px; margin:4px;}

.cont_box .cont_tit4 {width:140px; display:inline-block; font-size:20px; font-weight:normal; vertical-align:top;}

.btn_add {text-align:center;}
.btn_add .btn {border:none; background:none; margin:10px 0 0 0; padding:0; font-size:16px; color:#444;}
.btn_add .btn span {color:#74b243; font-size:16px; margin-right:4px;}
.step {display:inline-block; margin:6px 0;}
.step img {border:1px solid #e1e1e1; display:inline-block; vertical-align:middle;}
.step a img {border:none;}
#stepForm_material_1 img, #stepForm_cooker_1 img, #stepForm_fire_1 img, #stepForm_tip_1 img {border:none;}
.step_cont {display:inline-block; background:#f5f5f5; border:1px solid #e1e1e1; font-size:16px; line-height:25px;}

.pad_b_25 {padding-bottom:25px !important;}
.pad_l_60 {padding-left:60px !important;}

.cont_box .cont_tit {width:100px; display:inline-block; font-size:20px; font-weight:normal; vertical-align:top;}
.cont_box .cont_tit2 {width:100px; display:inline-block; font-size:30px; font-weight:normal; vertical-align:top; color:#74b243;}
.cont_box .cont_tit2_1 {width:120px; display:inline-block; font-size:30px; font-weight:normal; vertical-align:top; color:#74b243; margin-left:70px;}
.cont_box p {font-size:20px; padding:0 0 0 2px; margin:0 0 22px 0; line-height:50px;  display:inline-block;}
.cont_box p label {font-weight:normal; display:inline-block; font-size:18px;}

.form_id_in {display: flex; align-items: center; padding-right: 5px; margin-bottom: 50px; justify-content: center;}
.form_id_in span { display: inline-flex; align-items: center; margin-right: 2px;}
.form_id_in a {background: #44b6b5; color: #fff; font-size: 20px; border: 1px solid transparent; padding: 10px 30px; border-radius: 5px; margin-top: 10px;}

.recipe_regi {display: flex; flex-direction: column; justify-content: center; align-items: center;}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
}

.file-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-image {
    width: 180px;
    height: 180px;
    cursor: pointer;
}